// Custom Names
$dracula-black:                       #151320
$dracula-foreground:                  #F8F8F2
$dracula-cyan:                        #80FFEA
$dracula-green:                       #8AFF80
$dracula-orange:                      #FFCA80
$dracula-pink:                        #FF80BF
$dracula-purple:                      #9580FF
$dracula-red:                         #FF9580
$dracula-yellow:                      #FFFF80
$dracula-background:                  #22212C
$dracula-comment:                     #7970A9
$dracula-selection:                   #454158
    
// Colors
$background-color:                    $dracula-black
$section-background-color:            $dracula-selection
$dropdown-color:                      $section-background-color
$dropdown-border-color:               $dracula-background

$black:                               $dracula-black !default
$gray-darker:                         $dracula-background !default
$gray-dark:                           $dracula-background !default
$gray:                                $dracula-selection !default
$gray-light:                          $dracula-selection !default
$gray-lighter:                        $dracula-foreground !default
$white:                               $dracula-foreground !default

$green:                               $dracula-green
$offgreen:                            $dracula-cyan
$blue:                                $dracula-comment
$purple:                              $dracula-purple
$cobalt:                              $dracula-selection
$yellow:                              $dracula-yellow
$orange:                              $dracula-orange
$red:                                 $dracula-red
$shell:                               $dracula-foreground

// Typography
$text-color:                          $dracula-foreground
$text-invert:                         $dracula-background
$text-code-color:                     $dracula-foreground
$text-code-background-color:          $dracula-foreground
$text-code-border-color:              $dracula-black
$text-dark:                           darken($text-color,15%) !default
$text-medium:                         darken($text-color,25%) !default
$text-light:                          darken($text-color,45%) !default
$text-lighter:                        darken($text-color,60%) !default

// Tables
$table-background-color:              transparent
$table-border-color:                  $dracula-background
$table-stripe-color:                  $dracula-comment
$table-bg-hover-color:                hsl(0,0%,85%)
$table-head-background-color:         $table-border-color

// Forms
$input-text-color:                    $white !default
$input-background-color:              $black !default
$input-border-color:                  $black !default
$input-shadow-color:                  $black !default
$input-focus-color:                   $gray-dark

// Links
$link-color:                          $dracula-purple
$link-color-visited:                  $dracula-purple
$link-color-hover:                    lighten($link-color, 6%) !default
$link-color-alt:                      $dracula-orange

// Buttons
$button-background-color:             $dracula-green
$button-neutral-background-color:     $table-stripe-color

// Spinner
$spinner-color:                       $link-color

// Menu
$menu-top-link-color:                 $dracula-foreground
$menu-background-color:               $dracula-background
$menu-logo-color:                     $link-color